<div id="sidebar-info" class="sidebar-info">
    <div class="sidebar-info-inner">
        <div class="sidebar-info-container">
            <div class="bullet-list bullet-list--standard">
                <h4 class="headline-bold headline-bold--small" data-bind="i18n: 'Deine Vorteile'"></h4>
                <ul class="bullet-list__content">
                    <li class="bullet-list__entry">
                        <div class="bullet-list__wrapper"><svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" enable-background="new 0 0 19 19" viewBox="0 0 19 19" focusable="false" class="icon icon--SVG_19">
                                <circle cx="4.5" cy="14.5" r="2.5"></circle>
                                <circle cx="13.5" cy="14.5" r="2.5"></circle>
                                <path d="M18 10.334L16.25 8H13V2H0v12h2.05a2.5 2.5 0 104.899 0h4.101a2.5 2.5 0 104.899 0H18v-3.666zM4.5 16c-.827 0-1.5-.673-1.5-1.5S3.673 13 4.5 13s1.5.673 1.5 1.5S5.327 16 4.5 16zm7.011-3H6.488c-.456-.604-1.173-1-1.988-1s-1.532.396-1.989 1H1V3h11v9.511c-.185.14-.349.304-.489.489zm1.989 3c-.827 0-1.5-.673-1.5-1.5s.673-1.5 1.5-1.5 1.5.673 1.5 1.5-.673 1.5-1.5 1.5zm3.5-3h-1.512A2.488 2.488 0 0013 12.05V9h2.75L17 10.666V13z"></path>
                            </svg><span data-bind="i18n: '1-3 Werktage Lieferzeit'"><sup>1</sup></span></div>
                    </li>
                    <li class="bullet-list__entry">
                        <div class="bullet-list__wrapper"><svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" enable-background="new 0 0 19 19" viewBox="0 0 19 19" focusable="false" class="icon icon--SVG_19">
                                <path d="M15.638 14.981l-.276-.962-5.536 1.582A2.498 2.498 0 007.5 14c-.306 0-.597.063-.868.164L3.375 3H0v1h2.625l3.126 10.718A2.49 2.49 0 005 16.5C5 17.878 6.121 19 7.5 19a2.498 2.498 0 002.49-2.405l5.648-1.614zM7.5 18c-.827 0-1.5-.673-1.5-1.5S6.673 15 7.5 15s1.5.673 1.5 1.5S8.327 18 7.5 18z"></path>
                                <path d="M8.163 12.14L5.888 4.177 15.837.86l2.275 7.963-9.949 3.317zm-1.05-7.317l1.724 6.037 8.05-2.683-1.724-6.037-8.05 2.683z"></path>
                            </svg><span data-bind="i18n: 'Kostenloser Hin- und Rückversand ab € 100,00'"></span></div>
                    </li>
                    <li class="bullet-list__entry">
                        <div class="bullet-list__wrapper"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" enable-background="new 0 0 19 19" viewBox="0 0 19 19" focusable="false" class="icon icon--SVG_19">
                                <path d="M17 0H9l1.5 16h.5v3h4v-3h.5L17 0zm-6.902 1h5.804l-1.313 14h-3.178L10.098 1zM14 18h-2v-2h2v2zM6.5 13V6H6V1.667L5.5 1 3 3v3h-.5v7H2v6h5v-6h-.5zM4 3.48l1-.8V6H4V3.48zM3.5 7h2v6h-2V7zM6 18H3v-4h3v4z"></path>
                            </svg><span data-bind="i18n: '1 Monat Widerrufsrecht'"><sup>1</sup></span></div>
                    </li>
                    <li class="bullet-list__entry">
                        <div class="bullet-list__wrapper"><svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" enable-background="new 0 0 19 19" version="1.1" viewBox="0 0 19 19" xml:space="preserve" focusable="false" class="icon icon--SVG_19">
                                <path d="M4.5 8.5L3 10 7 14 16 5.5 14.5 4 7 11z"></path>
                            </svg><span data-bind="i18n: 'Alle Produkte von uns selbst getestet'"></span></div>
                    </li>
                    <li class="bullet-list__entry">
                        <div class="bullet-list__wrapper"><svg class="icon icon--SVG_19" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 229.5 229.5" style="enable-background:new 0 0 229.5 229.5;" xml:space="preserve">
                        <path d="M214.419,32.12c-0.412-2.959-2.541-5.393-5.419-6.193L116.76,0.275c-1.315-0.366-2.704-0.366-4.02,0L20.5,25.927
                            c-2.878,0.8-5.007,3.233-5.419,6.193c-0.535,3.847-12.74,94.743,18.565,139.961c31.268,45.164,77.395,56.738,79.343,57.209
                            c0.579,0.14,1.169,0.209,1.761,0.209s1.182-0.07,1.761-0.209c1.949-0.471,48.076-12.045,79.343-57.209
                            C227.159,126.864,214.954,35.968,214.419,32.12z M174.233,85.186l-62.917,62.917c-1.464,1.464-3.384,2.197-5.303,2.197
                            s-3.839-0.732-5.303-2.197l-38.901-38.901c-1.407-1.406-2.197-3.314-2.197-5.303s0.791-3.897,2.197-5.303l7.724-7.724
                            c2.929-2.928,7.678-2.929,10.606,0l25.874,25.874l49.89-49.891c1.406-1.407,3.314-2.197,5.303-2.197s3.897,0.79,5.303,2.197
                            l7.724,7.724C177.162,77.508,177.162,82.257,174.233,85.186z" />
                        </svg><span data-bind="i18n: 'Sichere Zahlung mit SSL-Verschlüsselung'"></span></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sidebar-info-container-bottom">
            <div class="paragraph">
                <h2 data-bind="i18n: 'Du hast noch Fragen?'"></h2>
                <p data-bind="i18n: 'Kontaktiere uns, gerne gerne helfen wir'"></p>
                <p><a href="tel:09521 6229132">Tel.: 09521 6229132</a>  Mo - Fr:  9 - 16 Uhr</p>
                <p><a href="mailto:info@hair2heart.de" data-bind="i18n: 'Per E-Mail kontaktieren'"></a></p>
            </div>
        </div>
    </div>
</div>
