<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<form data-bind="submit: selectPaymentMethod" novalidate="novalidate">
    <div class="actions-toolbar">
        <div class="primary">
            <button data-role="opc-continue" type="submit" class="button action continue primary">
                <span>
                    <!-- ko i18n: 'Next'-->
                    <!-- /ko --></span>
            </button>
        </div>
    </div>
</form>
