<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Amasty\ShopbyBase\Model\XmlSitemap">
        <plugin name="Amasty_ShopbySeo::apply-seo-url" type="Amasty\ShopbySeo\Plugin\XmlSitemap\ShopbyBase\Model\Sitemap" />
    </type>

    <type name="Magento\Config\Model\Config">
        <plugin name="Amasty_ShopbySeo::config_save_plugin" type="Amasty\ShopbySeo\Plugin\Adminhtml\ConfigPlugin" />
    </type>

    <type name="Amasty\ShopbySeo\Model\SeoOptions">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="dynamic" xsi:type="object">Amasty\ShopbySeo\Model\SeoOptionsModifier\DynamicAliases</item>
                <item name="hardcoded" xsi:type="object">Amasty\ShopbySeo\Model\SeoOptionsModifier\HardcodedAliases</item>
            </argument>
        </arguments>
    </type>
    <type name="Amasty\GroupedOptions\Model\SeoOptionsModifier\GroupAliases">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="uniqueBuilder" xsi:type="object">Amasty\ShopbySeo\Model\SeoOptionsModifier\UniqueBuilder</item>
            </argument>
        </arguments>
    </type>
</config>
