<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Searchanise_SearchAutocomplete::searchanise" title="Searchanise" module="Searchanise_SearchAutocomplete" sortOrder="30" action="searchanise/searchanise" resource="Searchanise_SearchAutocomplete::searchanise" parent="Magento_Catalog::inventory" />
    </menu>
</config>