<?xml version="1.0"?>
<!--
/**
 * @author Elsner Team
 * @copyright Copyright (c) 2021 Elsner Technologies Pvt. Ltd (https://www.elsner.com/)
 * @package Elsnertech_Zohointegration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
<system>
   <tab id="setting" translate="label" sortOrder="10">
       <label>ELSNERTECH ZOHOINTEGRATION</label>
   </tab>
   <section id="zohointegration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
       <label>setting</label>
       <tab>setting</tab>
       <resource>Elsnertech_Zohointegration::manager</resource>
       <group id="department" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
           
           <label>General Configration</label>

           <field id="is_enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
               <label>Module Enabled</label>
               <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
           </field>
           
            <field id="organization_id" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Organization ID</label>
                <depends>
                    <field id="*/*/dropdown_example">1</field>
                </depends>
                <validate>validate-no-empty</validate>
            </field>

            <field id="refress_token" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Refress Token</label>
                <validate>validate-no-empty</validate>
            </field>

            <field id="client_id" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>client_id</label>
                <depends>
                    <field id="*/*/dropdown_example">1</field>
                </depends>
                <validate>validate-no-empty</validate>
            </field>

            <field id="client_secret" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
              <label>client_secret</label>
              <depends>
                  <field id="*/*/dropdown_example">1</field>
              </depends>
              <validate>validate-no-empty</validate>
            </field>

            <field id="redirect_uri" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>redirect_uri</label>
                <depends>
                    <field id="*/*/dropdown_example">1</field>
                </depends>
                <validate>validate-no-empty</validate>
            </field>
       </group>
<!--  -->

        <group id="zohotoken" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
           <label>Access_token Value</label>

            <field id="access_token" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>access_token</label>
                <depends>
                    <field id="*/*/dropdown_example">1</field>
                </depends>
                <validate>validate-no-empty</validate>
            </field>

       </group>



<!--  -->
   </section>
</system>
</config>